.grid-colors{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.color-card{
    margin: 50px auto;
    border-radius: 50px;
    text-align: center;
}

.color-card:hover{
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
}

.color-card img{
    width: 50%;
}
/*---- MEDIA QUERY ----*/
@media screen and (max-width: 900px){
    .grid-colors{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 400px){
    .grid-colors{
        grid-template-columns: auto;
    }
}